<% if flash[:notice] %>
	<div class="flash">
		<%= flash[:notice] %>
	</div>
 <% end %>

<p class="show-headline"><strong>Title:</strong><%= @post.title %></p>
<p class="show-headline"><strong>Body:</strong><%= @post.body %></p>

<p>
<%= link_to "Edit", edit_post_path, class: "edit_#{@post.id}" %> |
<%= link_to "Back", '/posts', class: "back" %>
</p>
<!-- indexでは@posts.each do post があるがここにはpostはなく@postなので edit_#{@post}  -->
